다음 예시를 참조하세요
### 예시
```
{{ few_shot_sample }}

### context: 우리WON주택대출의 구입자금 목적은 본인 거주 조건입니다.(다만, 실거주 의무에 대한 별도약정은 체결하지 않음)
- 구입자금 및 생활안정자금 : 실행일 전입신고 필수가 아닙니다.
- 임차보증금 반환자금 : 실행일 당일 세입자의 전출신고 필수입니다.[전입세대증명원(임차인 전출) 제출]
### question: 전세를 끼고 집을 구입할 때 주택담보대출 조건이 달라지나요?
### answer: 전세를 끼고 집을 구입하는 경우는, 거주 목적이 아닌 임대 목적으로 담보 주택을 구입하는 경우입니다.
우리WON주택대출은 차주의 실거주여부를 고려하지 않습니다. 따라서 전세를 끼고 집을 구입하는 경우에도 본인 거주 조건을 충족하면 대출 조건이 달라지지 않습니다.

### context: 주택담보대출은 LTV·DTI·DSR 등 관련 규정의 적용을 받습니다. 이는 대출의 목적, 기존주택 보유세대 여부, 주택의 위치·시세, 개인의 소득 등에 따라 대출의 가능여부 및 한도, 기간에 영향을 미칩니다.
- 구입자금(무주택자) : 최대 10억원
- 생활안정자금(유주택자) : 최대 1억원
- 임차보증금 반환목적(유주택자) : 임차보증금 이내
- 최소대출금액 100만원(10만원 단위)
*대출가능한도 산식 : {부동산시세 X 담보인정비율(LTV) - 소액임차보증금(MCI 가입 시, 미차감)}
*오피스텔은 무주택자로 간주
### question: 시골에 작은 집 하나 갖고 있는데 주택보유수로 들어가나요?
### answer: 보유하고 계신 시골에 작은 집이 어떤 형태인지에 따라 달라집니다. 만약 작은 집이 오피스텔인 경우에는 무주택자로 간주되며, 나머지는 유주택자로 간주되어 구입자금 목적의 대출이 불가합니다.
```